In [1]:
# ETL
import os
import json
import joblib
import numpy as np
import pandas as pd
from datetime import datetime

# Snowpark functions
import snowflake.snowpark.functions as F
from snowflake.snowpark.functions import lit
from snowflake.snowpark.session import Session
from snowflake.snowpark.version import VERSION

# Encoding, training, prediction
import xgboost as xgb

#Visualization
import matplotlib.pyplot as plt

In [3]:
# Create Snowflake Session object
connection_parameters = json.load(open('connection_MA.json'))
conn = Session.builder.configs(connection_parameters).create()
conn.sql_simplifier_enabled = True
snowflake_environment = conn.sql('select current_user(), current_role(), current_database(), current_schema(), current_version(), current_warehouse()').collect()
snowpark_version = VERSION

In [5]:
# Create Snowflake Session object
connection_parameters = json.load(open('connection_GDC_churn.json'))
conn_churn = Session.builder.configs(connection_parameters).create()
conn_churn.sql_simplifier_enabled = True
snowflake_environment = conn_churn.sql('select current_user(), current_role(), current_database(), current_schema(), current_version(), current_warehouse()').collect()
snowpark_version = VERSION

## Forecasting customer churn

### Import customer and subscription data from snowflake

In [6]:
customers = conn.table('SPOTFLIX.PUBLIC."dim_media_customers"').toPandas()
print(customers.head(2))

subscriptions = conn.table('SPOTFLIX.PUBLIC."fact_media_subscription_events"').toPandas()
print (subscriptions.head(2))

   customer_id  customer_name  gender  age age_group     street_address  \
0            1   Alma Bassani  Female   18     18-24     329 4th Street
1            2  Sherry Blanck  Female   25     25-34  1170 NEWBURY LN E

              city state zipcode              county   latitude   longitude  \
0  Manhattan Beach    CA   90266  Los Angeles County  33.880408 -118.406355
1           Mobile    AL   36695       Mobile County  30.666030  -88.217780

  region    opendate closedate
0   West  2018-03-09      None
1  South  2017-10-18      None
   record_id  customer_id  campaign_key             event   eventdate
0          1        25436           0.0  New Subscription  2018-06-20
1          2        25437           0.0  New Subscription  2018-06-20

In [7]:
merged = pd.merge(customers, subscriptions, how ='left', on = 'customer_id')

# Below code checks the following conditions : closedate = eventdate , event = Cancelled Subscription
# merged[(merged['event'] == 'Cancelled Subscription') & (merged['closedate'] != merged['eventdate'])]

# Dealing with bad data - details below
# there are few cancelled subscription dates not mentioned as close date, so correcting them (updating closedate= eventdate when event= Cancelled Subscription	)
merged['closedate'] = np.where(merged['event'] == 'Cancelled Subscription', merged['eventdate'], merged['closedate'])

# dropping duplicates
merged.drop_duplicates(subset='customer_id', inplace=True)
print (merged.head(2))

   customer_id  customer_name  gender  age age_group     street_address  \
0            1   Alma Bassani  Female   18     18-24     329 4th Street
1            2  Sherry Blanck  Female   25     25-34  1170 NEWBURY LN E

              city state zipcode              county   latitude   longitude  \
0  Manhattan Beach    CA   90266  Los Angeles County  33.880408 -118.406355
1           Mobile    AL   36695       Mobile County  30.666030  -88.217780

  region    opendate closedate  record_id  campaign_key event eventdate
0   West  2018-03-09      None        NaN           NaN   NaN       NaN
1  South  2017-10-18      None        NaN           NaN   NaN       NaN

In [8]:
customers_selected = merged[['customer_id', 'opendate', 'closedate']]
print( customers_selected.head() )

   customer_id    opendate   closedate
0            1  2018-03-09        None
1            2  2017-10-18        None
2            3  2018-03-03  2019-04-23
3            4  2018-03-25  2018-07-30
4            5  2017-07-17  2019-04-24

In [ ]:
# Convert 'opendate' and 'closedate' to datetime format
customers_selected['opendate'] = pd.to_datetime(customers_selected['opendate'])
customers_selected['closedate'] = pd.to_datetime(customers_selected['closedate'])

# Calculate the 'days' column without using lambda
customers_selected['No_days_on_platform'] = (customers_selected['closedate'] - customers_selected['opendate']).dt.days.fillna((datetime(2019, 7, 26) - customers_selected['opendate']).dt.days)

# Create the 'churn' column
customers_selected['churn'] = customers_selected['closedate'].notna().astype(int)

customers_selected.drop(['opendate', 'closedate'],axis =1, inplace =True )

# Display the modified DataFrame
customers_selected.head(2)

### Processing Fact media show event data

In [10]:
show_events = conn.table('SPOTFLIX.PUBLIC."fact_media_show_events"').toPandas()
show_events.drop(['record_id','show_id', 'viewtime','episode_id','viewruntimepct'], axis=1, inplace=True)
# Convert 'viewdate' to datetime
show_events['viewdate'] = pd.to_datetime(show_events['viewdate'])
customer_engagement = pd.merge(show_events,customers_selected, how = 'left', on = 'customer_id')
customer_engagement.head(2)

   customer_id   viewdate  viewruntime  No_days_on_platform  churn
0        23927 2018-07-22           24                108.0      1
1        23927 2018-07-22           24                108.0      1

### Using Date Reference Table

In [11]:
date_ref = conn.table('SPOTFLIX.PUBLIC."dim_media_date_ref"').toPandas()
date_ref.drop('date_id', axis = 1, inplace = True) 
date_ref['date'] = pd.to_datetime(date_ref['date'])
customer_engagement['viewdate'] = pd.to_datetime(customer_engagement['viewdate'])
date_wise_merged = pd.merge(date_ref, customer_engagement, left_on='date', right_on='viewdate', how='right')
date_wise_merged.drop(['date','No_days_on_platform'], axis = 1, inplace =True	)
date_wise_merged.head(2)

   customer_id   viewdate  viewruntime  churn
0        23927 2018-07-22           24      1
1        23927 2018-07-22           24      1

In [12]:
date_wise_merged['viewdate'] = pd.to_datetime(date_wise_merged['viewdate'])

grouped_date_wise = date_wise_merged.groupby(['viewdate', 'customer_id']).agg({
    'viewruntime': 'sum'
}).reset_index()

grouped_date_wise.head(2)

    viewdate  customer_id  viewruntime
0 2018-06-17          577           58
1 2018-06-17          579           58

In [13]:
# Helper function that generates information required for model training
#This function uses date array from inout data to build necessary columns for model training
def date_conv(date_array):
    date_array_df = pd.DataFrame(date_array.values, columns = ['viewdate'])
    date_array_df['viewdate'] = pd.to_datetime(date_array_df['viewdate'])
    date_array_df['day_of_year'] = date_array_df['viewdate'].dt.dayofyear
    date_array_df['day_of_month'] = date_array_df['viewdate'].dt.day
    date_array_df['day_of_week'] = date_array_df['viewdate'].dt.dayofweek  # Monday=0, Sunday=6
    date_array_df['month'] = date_array_df['viewdate'].dt.month
    date_array_df['quarter'] = date_array_df['viewdate'].dt.quarter
    date_array_df['year'] = date_array_df['viewdate'].dt.year
    return date_array_df

## Training

In [14]:
# Creates training dataset at specified granularity - eg: customer , show, date level
def make_dataset(df, date_col, customer_id_col, agg_col, agg_func):
    grp_df = df.groupby([date_col, customer_id_col]).agg({
        agg_col: agg_func,
    }).reset_index()
    pivot_df = grp_df.pivot(index=date_col, columns=customer_id_col, values=agg_col)

    itr = len(pivot_df.columns)
    df_list = []
    keys = pivot_df.columns.to_list()

    for i in range(itr):
        col = pivot_df.columns[i]
        df1 = pd.DataFrame(pivot_df[col])

        # Drop NaN values using the aggregated column name
        df1.dropna(subset=[col], inplace=True)

        training_data = date_conv(df1.index)
        training_data = training_data.set_index(date_col)
        training_data[agg_col] = df1[col]
        df_list.append(training_data)

    return df_list, keys

In [15]:
make_dataset_test, keys = make_dataset(date_wise_merged, 'viewdate', 'customer_id', 'viewruntime', 'sum')

In [19]:
# Time series forecasting model using xgboost
# Forecasts data for multiple shows, customers, dates etc.,
def train_xgboost_models(category_data_list, keys,agg_col,folder_path):
    fi = []
    fn = []
    for i in range(len(category_data_list)):
        # for category, data in category_data.items():
            # Convert the date index

        print (category_data_list[i])

        training_data = date_conv(category_data_list[i].index)
        print(training_data)

        # Set the index to 'Transaction_Date'
        # training_data = training_data.set_index('Transaction_Date')
        feature_cols = category_data_list[i].columns[:-1]
        print(feature_cols)

        # Set the 'Sales_Quantity' column to the corresponding category
        # training_data['Sales_Quantity'] = keys

        # Select features for training the model
        # feature_cols = ['day_of_year', 'day_of_month', 'day_of_week', 'month', 'quarter', 'year']
        X = category_data_list[i].drop(agg_col, axis=1)
        y_quantity = category_data_list[i][agg_col]

        # Define the best hyperparameters obtained from hyperparameter tuning
        best_params = {
            'max_depth': 6,
            'eta': 0.3,
            'gamma': 0,
            'subsample': 1
        }

        # Initialize XGBoost model with the best hyperparameters
        model = xgb.XGBRegressor(n_estimators=200, n_jobs=1,
                                    max_depth=best_params['max_depth'],
                                    eta=best_params['eta'],
                                    gamma=best_params['gamma'],
                                    subsample=best_params['subsample']
                                    )

        # Fit the model
        model.fit(X, y_quantity)


        # folder_path = '/Users/mohammed.arshad/Downloads/Models'
        filename = f'{folder_path}/xgb_classifier_{keys[i]}.sav'
        joblib.dump(model, filename)


        # Feature importance
        feat_importance = pd.DataFrame(
            model.feature_importances_, feature_cols, columns=["FeatImportance"]
        ).to_dict()

        fi.append(feat_importance)
        fn.append(filename)

    return fi, fn

In [20]:
agg_col = 'viewruntime'
folder_path = '/Users/mohammed.arshad/Downloads/Models'
feature_Imp, models = train_xgboost_models(make_dataset_test[0:100], keys,agg_col, folder_path)

            day_of_year  day_of_month  day_of_week  month  quarter  year  \
viewdate
2018-06-20          171            20            2      6        2  2018
2018-06-25          176            25            0      6        2  2018
2018-06-29          180            29            4      6        2  2018
2018-07-06          187             6            4      7        3  2018
2018-07-12          193            12            3      7        3  2018
...                 ...           ...          ...    ...      ...   ...
2019-05-26          146            26            6      5        2  2019
2019-05-28          148            28            1      5        2  2019
2019-05-29          149            29            2      5        2  2019
2019-06-02          153             2            6      6        2  2019
2019-06-04          155             4            1      6        2  2019

            viewruntime
viewdate
2018-06-20         53.0
2018-06-25        107.0
2018-06-29          0.0
2018-07-06         29.0
2018-07-12         58.0
...                 ...
2019-05-26         49.0
2019-05-28         49.0
2019-05-29         59.0
2019-06-02         10.0
2019-06-04          0.0

[99 rows x 7 columns]
     viewdate  day_of_year  day_of_month  day_of_week  month  quarter  year
0  2018-06-20          171            20            2      6        2  2018
1  2018-06-25          176            25            0      6        2  2018
2  2018-06-29          180            29            4      6        2  2018
3  2018-07-06          187             6            4      7        3  2018
4  2018-07-12          193            12            3      7        3  2018
..        ...          ...           ...          ...    ...      ...   ...
94 2019-05-26          146            26            6      5        2  2019
95 2019-05-28          148            28            1      5        2  2019
96 2019-05-29          149            29            2      5        2  2019
97 2019-06-02          153             2            6      6        2  2019
98 2019-06-04          155             4            1      6        2  2019

[99 rows x 7 columns]
Index(['day_of_year', 'day_of_month', 'day_of_week', 'month', 'quarter',
       'year'],
      dtype='object')
            day_of_year  day_of_month  day_of_week  month  quarter  year  \
viewdate
2018-06-26          177            26            1      6        2  2018
2018-06-30          181            30            5      6        2  2018
2018-07-01          182             1            6      7        3  2018
2018-07-02          183             2            0      7        3  2018
2018-07-04          185             4            2      7        3  2018
...                 ...           ...          ...    ...      ...   ...
2019-01-15           15            15            1      1        1  2019
2019-01-20           20            20            6      1        1  2019
2019-01-26           26            26            5      1        1  2019
2019-02-19           50            19            1      2        1  2019
2019-02-20           51            20            2      2        1  2019

            viewruntime
viewdate
2018-06-26        118.0
2018-06-30         55.0
2018-07-01         58.0
2018-07-02         58.0
2018-07-04         58.0
...                 ...
2019-01-15         30.0
2019-01-20         30.0
2019-01-26          0.0
2019-02-19         58.0
2019-02-20        116.0

[92 rows x 7 columns]
     viewdate  day_of_year  day_of_month  day_of_week  month  quarter  year
0  2018-06-26          177            26            1      6        2  2018
1  2018-06-30          181            30            5      6        2  2018
2  2018-07-01          182             1            6      7        3  2018
3  2018-07-02          183             2            0      7        3  2018
4  2018-07-04          185             4            2      7        3  2018
..        ...          ...           ...          ...    ...      ...   ...
87 2019-01-15           15            15            1      1        1  2019
88 2019-01-20           20            20            6      1        1  2019
89 2019-01-26           26            26            5      1        1  2019
90 2019-02-19           50            19            1      2        1  2019
91 2019-02-20           51            20            2      2        1  2019

[92 rows x 7 columns]
Index(['day_of_year', 'day_of_month', 'day_of_week', 'month', 'quarter',
       'year'],
      dtype='object')
            day_of_year  day_of_month  day_of_week  month  quarter  year  \
viewdate
2018-06-21          172            21            3      6        2  2018
2018-06-27          178            27            2      6        2  2018
2018-06-30          181            30            5      6        2  2018
2018-07-01          182             1            6      7        3  2018
2018-07-02          183             2            0      7        3  2018
...                 ...           ...          ...    ...      ...   ...
2019-03-29           88            29            4      3        1  2019
2019-03-30           89            30            5      3        1  2019
2019-04-08           98             8            0      4        2  2019
2019-04-10          100            10            2      4        2  2019
2019-04-13          103            13            5      4        2  2019

            viewruntime
viewdate
2018-06-21         60.0
2018-06-27         60.0
2018-06-30         58.0
2018-07-01        132.0
2018-07-02          0.0
...                 ...
2019-03-29         88.0
2019-03-30          0.0
2019-04-08         58.0
2019-04-10         58.0
2019-04-13          0.0

[109 rows x 7 columns]
      viewdate  day_of_year  day_of_month  day_of_week  month  quarter  year
0   2018-06-21          172            21            3      6        2  2018
1   2018-06-27          178            27            2      6        2  2018
2   2018-06-30          181            30            5      6        2  2018
3   2018-07-01          182             1            6      7        3  2018
4   2018-07-02          183             2            0      7        3  2018
..         ...          ...           ...          ...    ...      ...   ...
104 2019-03-29           88            29            4      3        1  2019
105 2019-03-30           89            30            5      3        1  2019
106 2019-04-08           98             8            0      4        2  2019
107 2019-04-10          100            10            2      4        2  2019
108 2019-04-13          103            13            5      4        2  2019

[109 rows x 7 columns]
Index(['day_of_year', 'day_of_month', 'day_of_week', 'month', 'quarter',
       'year'],
      dtype='object')
            day_of_year  day_of_month  day_of_week  month  quarter  year  \
viewdate
2018-06-23          174            23            5      6        2  2018
2018-06-27          178            27            2      6        2  2018
2018-07-02          183             2            0      7        3  2018
2018-07-03          184             3            1      7        3  2018
2018-07-07          188             7            5      7        3  2018
2018-07-13          194            13            4      7        3  2018
2018-07-16          197            16            0      7        3  2018
2018-07-19          200            19            3      7        3  2018
2018-07-26          207            26            3      7        3  2018

            viewruntime
viewdate
2018-06-23         60.0
2018-06-27         59.0
2018-07-02        117.0
2018-07-03         60.0
2018-07-07         58.0
2018-07-13         60.0
2018-07-16         59.0
2018-07-19         58.0
2018-07-26         58.0
    viewdate  day_of_year  day_of_month  day_of_week  month  quarter  year
0 2018-06-23          174            23            5      6        2  2018
1 2018-06-27          178            27            2      6        2  2018
2 2018-07-02          183             2            0      7        3  2018
3 2018-07-03          184             3            1      7        3  2018
4 2018-07-07          188             7            5      7        3  2018
5 2018-07-13          194            13            4      7        3  2018
6 2018-07-16          197            16            0      7        3  2018
7 2018-07-19          200            19            3      7        3  2018
8 2018-07-26          207            26            3      7        3  2018
Index(['day_of_year', 'day_of_month', 'day_of_week', 'month', 'quarter',
       'year'],
      dtype='object')
            day_of_year  day_of_month  day_of_week  month  quarter  year  \
viewdate
2018-06-23          174            23            5      6        2  2018
2018-06-29          180            29            4      6        2  2018
2018-07-07          188             7            5      7        3  2018
2018-07-10          191            10            1      7        3  2018
2018-07-14          195            14            5      7        3  2018
...                 ...           ...          ...    ...      ...   ...
2019-04-03           93             3            2      4        2  2019
2019-04-07           97             7            6      4        2  2019
2019-04-08           98             8            0      4        2  2019
2019-04-12          102            12            4      4        2  2019
2019-04-17          107            17            2      4        2  2019

            viewruntime
viewdate
2018-06-23         59.0
2018-06-29          0.0
2018-07-07         59.0
2018-07-10         30.0
2018-07-14         29.0
...                 ...
2019-04-03        149.0
2019-04-07          4.0
2019-04-08         75.0
2019-04-12         78.0
2019-04-17         78.0

[123 rows x 7 columns]
      viewdate  day_of_year  day_of_month  day_of_week  month  quarter  year
0   2018-06-23          174            23            5      6        2  2018
1   2018-06-29          180            29            4      6        2  2018
2   2018-07-07          188             7            5      7        3  2018
3   2018-07-10          191            10            1      7        3  2018
4   2018-07-14          195            14            5      7        3  2018
..         ...          ...           ...          ...    ...      ...   ...
118 2019-04-03           93             3            2      4        2  2019
119 2019-04-07           97             7            6      4        2  2019
120 2019-04-08           98             8            0      4        2  2019
121 2019-04-12          102            12            4      4        2  2019
122 2019-04-17          107            17            2      4        2  2019

[123 rows x 7 columns]
Index(['day_of_year', 'day_of_month', 'day_of_week', 'month', 'quarter',
       'year'],
      dtype='object')
            day_of_year  day_of_month  day_of_week  month  quarter  year  \
viewdate
2018-06-24          175            24            6      6        2  2018
2018-06-25          176            25            0      6        2  2018
2018-06-27          178            27            2      6        2  2018
2018-07-05          186             5            3      7        3  2018
2018-07-26          207            26            3      7        3  2018
...                 ...           ...          ...    ...      ...   ...
2019-06-18          169            18            1      6        2  2019
2019-06-21          172            21            4      6        2  2019
2019-06-22          173            22            5      6        2  2019
2019-06-24          175            24            0      6        2  2019
2019-06-29          180            29            5      6        2  2019

            viewruntime
viewdate
2018-06-24         58.0
2018-06-25         58.0
2018-06-27          4.0
2018-07-05          0.0
2018-07-26        118.0
...                 ...
2019-06-18         58.0
2019-06-21        116.0
2019-06-22         29.0
2019-06-24         59.0
2019-06-29        144.0

[85 rows x 7 columns]
     viewdate  day_of_year  day_of_month  day_of_week  month  quarter  year
0  2018-06-24          175            24            6      6        2  2018
1  2018-06-25          176            25            0      6        2  2018
2  2018-06-27          178            27            2      6        2  2018
3  2018-07-05          186             5            3      7        3  2018
4  2018-07-26          207            26            3      7        3  2018
..        ...          ...           ...          ...    ...      ...   ...
80 2019-06-18          169            18            1      6        2  2019
81 2019-06-21          172            21            4      6        2  2019
82 2019-06-22          173            22            5      6        2  2019
83 2019-06-24          175            24            0      6        2  2019
84 2019-06-29          180            29            5      6        2  2019

[85 rows x 7 columns]
Index(['day_of_year', 'day_of_month', 'day_of_week', 'month', 'quarter',
       'year'],
      dtype='object')
            day_of_year  day_of_month  day_of_week  month  quarter  year  \
viewdate
2018-06-25          176            25            0      6        2  2018
2018-06-26          177            26            1      6        2  2018
2018-07-02          183             2            0      7        3  2018
2018-07-07          188             7            5      7        3  2018
2018-07-14          195            14            5      7        3  2018
...                 ...           ...          ...    ...      ...   ...
2019-07-11          192            11            3      7        3  2019
2019-07-14          195            14            6      7        3  2019
2019-07-17          198            17            2      7        3  2019
2019-07-20          201            20            5      7        3  2019
2019-07-22          203            22            0      7        3  2019

            viewruntime
viewdate
2018-06-25         59.0
2018-06-26         58.0
2018-07-02         60.0
2018-07-07         58.0
2018-07-14         58.0
...                 ...
2019-07-11         29.0
2019-07-14         30.0
2019-07-17         21.0
2019-07-20         72.0
2019-07-22         21.0

[90 rows x 7 columns]
     viewdate  day_of_year  day_of_month  day_of_week  month  quarter  year
0  2018-06-25          176            25            0      6        2  2018
1  2018-06-26          177            26            1      6        2  2018
2  2018-07-02          183             2            0      7        3  2018
3  2018-07-07          188             7            5      7        3  2018
4  2018-07-14          195            14            5      7        3  2018
..        ...          ...           ...          ...    ...      ...   ...
85 2019-07-11          192            11            3      7        3  2019
86 2019-07-14          195            14            6      7        3  2019
87 2019-07-17          198            17            2      7        3  2019
88 2019-07-20          201            20            5      7        3  2019
89 2019-07-22          203            22            0      7        3  2019

[90 rows x 7 columns]
Index(['day_of_year', 'day_of_month', 'day_of_week', 'month', 'quarter',
       'year'],
      dtype='object')
            day_of_year  day_of_month  day_of_week  month  quarter  year  \
viewdate
2018-06-24          175            24            6      6        2  2018
2018-06-26          177            26            1      6        2  2018
2018-06-30          181            30            5      6        2  2018
2018-07-01          182             1            6      7        3  2018
2018-07-02          183             2            0      7        3  2018
...                 ...           ...          ...    ...      ...   ...
2019-07-15          196            15            0      7        3  2019
2019-07-17          198            17            2      7        3  2019
2019-07-18          199            18            3      7        3  2019
2019-07-23          204            23            1      7        3  2019
2019-07-25          206            25            3      7        3  2019

            viewruntime
viewdate
2018-06-24         60.0
2018-06-26         58.0
2018-06-30         24.0
2018-07-01         59.0
2018-07-02          0.0
...                 ...
2019-07-15         47.0
2019-07-17         43.0
2019-07-18         58.0
2019-07-23         93.0
2019-07-25         58.0

[171 rows x 7 columns]
      viewdate  day_of_year  day_of_month  day_of_week  month  quarter  year
0   2018-06-24          175            24            6      6        2  2018
1   2018-06-26          177            26            1      6        2  2018
2   2018-06-30          181            30            5      6        2  2018
3   2018-07-01          182             1            6      7        3  2018
4   2018-07-02          183             2            0      7        3  2018
..         ...          ...           ...          ...    ...      ...   ...
166 2019-07-15          196            15            0      7        3  2019
167 2019-07-17          198            17            2      7        3  2019
168 2019-07-18          199            18            3      7        3  2019
169 2019-07-23          204            23            1      7        3  2019
170 2019-07-25          206            25            3      7        3  2019

[171 rows x 7 columns]
Index(['day_of_year', 'day_of_month', 'day_of_week', 'month', 'quarter',
       'year'],
      dtype='object')
            day_of_year  day_of_month  day_of_week  month  quarter  year  \
viewdate
2018-06-28          179            28            3      6        2  2018
2018-07-02          183             2            0      7        3  2018
2018-07-06          187             6            4      7        3  2018
2018-07-13          194            13            4      7        3  2018
2018-07-16          197            16            0      7        3  2018
...                 ...           ...          ...    ...      ...   ...
2019-05-26          146            26            6      5        2  2019
2019-05-28          148            28            1      5        2  2019
2019-06-25          176            25            1      6        2  2019
2019-07-17          198            17            2      7        3  2019
2019-07-22          203            22            0      7        3  2019

            viewruntime
viewdate
2018-06-28         58.0
2018-07-02         59.0
2018-07-06         59.0
2018-07-13         60.0
2018-07-16         58.0
...                 ...
2019-05-26          0.0
2019-05-28         58.0
2019-06-25         10.0
2019-07-17         57.0
2019-07-22          0.0

[102 rows x 7 columns]
      viewdate  day_of_year  day_of_month  day_of_week  month  quarter  year
0   2018-06-28          179            28            3      6        2  2018
1   2018-07-02          183             2            0      7        3  2018
2   2018-07-06          187             6            4      7        3  2018
3   2018-07-13          194            13            4      7        3  2018
4   2018-07-16          197            16            0      7        3  2018
..         ...          ...           ...          ...    ...      ...   ...
97  2019-05-26          146            26            6      5        2  2019
98  2019-05-28          148            28            1      5        2  2019
99  2019-06-25          176            25            1      6        2  2019
100 2019-07-17          198            17            2      7        3  2019
101 2019-07-22          203            22            0      7        3  2019

[102 rows x 7 columns]
Index(['day_of_year', 'day_of_month', 'day_of_week', 'month', 'quarter',
       'year'],
      dtype='object')

#### Sampling the data for faster analysis

In [21]:
data_trained = date_wise_merged[date_wise_merged['customer_id']<=100]
data_trained .drop('churn',inplace = True, axis =1)
data_trained

/var/folders/q8/105kl99s4wv3t981dmcsyrth0000gq/T/ipykernel_4165/4094158180.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_trained .drop('churn',inplace = True, axis =1)

         customer_id   viewdate  viewruntime
2712272            1 2018-06-20           53
2712273            1 2018-06-25           57
2712274            1 2018-06-25           50
2712275            1 2018-06-29            0
2712276            1 2018-07-06           29
...              ...        ...          ...
2724199          100 2019-02-25           30
2724200          100 2019-02-25           29
2724201          100 2019-03-01            0
2724202          100 2019-02-20           58
2724203          100 2019-02-26            0

[11932 rows x 3 columns]

In [22]:
# Method used to forecast data using the trained models at customer level
def forecast_and_add_to_dataframe(model_folder,data_trained):
    # Check if the model folder exists
    if not os.path.exists(model_folder):
        raise FileNotFoundError(f"The model folder '{model_folder}' does not exist.")
    
    forecast_end_date = '2021-01-31'
    predicted_df = pd.DataFrame()
    final_df= pd.DataFrame()


    # Loop through each file in the model folder
    for filename in os.listdir(model_folder):
        # Assuming models are saved with a specific extension, e.g., '.pkl'
        if filename.endswith('.sav'):
            # Construct the full path to the model file
            model_path = os.path.join(model_folder, filename)
            # print(model_path)
            # Load the model
            model = joblib.load(model_path)  # Adjust this for other model loading methods



# one line to get customer_id from filename  - os.path.splitext(filename.split("_")[-1])[0]
# slice the data_trained using customer id  and sort by view date .iloc[-1,'viewdate']
           
            customer_id = int(os.path.splitext(filename.split("_")[-1])[0])
            print(customer_id)

            # Slice data_trained and sort by 'viewdate' for the specific customer_id
            last_available_date = data_trained[data_trained['customer_id'] == customer_id].sort_values('viewdate').iloc[-1]['viewdate']
            # print (last_available_date)

            # Display the last available date for the specified customer_id
            # print(f"Last available date for customer {customer_id}: {last_available_date}")


            forecast_start_date = last_available_date + pd.DateOffset(days=1)
            # print (forecast_start_date)
            forecast_start_date=pd.to_datetime(forecast_start_date)
            forecast_end_date=pd.to_datetime(forecast_end_date)
            date_array = pd.date_range(forecast_start_date,forecast_end_date, freq='D')
            forecast_data = date_conv(date_array).set_index('viewdate')
            # print (forecast_data)

            # Make predictions on the new data
            predictions = model.predict(forecast_data)

            # print (predictions)

            print(len(forecast_data))
            print(len(predictions))


            # Create a DataFrame for the predicted data
            predicted_df = pd.DataFrame({
                'customer_id': [int(os.path.splitext(filename.split("_")[-1])[0])] * len(predictions),
                'viewruntime': predictions,
                'viewdate': forecast_data.index,  # Assuming 'forecast_data' has 'viewdate' as an index
            })

            # Concatenate the predicted data to the final_df
            frames = [final_df, predicted_df]
            final_df = pd.concat(frames, ignore_index=True)

        # Sort the final_df by 'viewdate' if needed
        final_df.sort_values('viewdate', inplace=True)


    return final_df

#### Cahnge folder to one saved

In [23]:
# Example usage:
model_folder_path = '/Users/mohammed.arshad/Downloads/Models'

# Assuming forecast_data is your DataFrame with the data for forecasting
forecast_data = forecast_and_add_to_dataframe(model_folder_path,data_trained)
forecast_data.reset_index(drop=True, inplace=True)
forecasted_churn = pd.concat([data_trained, forecast_data], ignore_index=True)
forecasted_churn

18
558
558
30
677
677
24
899
899
25
914
914
31
595
595
19
556
556
27
777
777
33
558
558
32
650
650
26
852
852
22
684
684
36
575
575
37
589
589
23
585
585
35
560
560
21
690
690
20
568
568
34
556
556
90
633
633
84
561
561
53
610
610
47
582
582
46
583
583
52
558
558
85
614
614
91
556
556
9
559
559
87
558
558
93
565
565
78
586
586
44
698
698
50
556
556
51
691
691
45
905
905
79
894
894
92
558
558
86
753
753
8
556
556
100
702
702
82
561
561
96
557
557
41
560
560
55
556
556
69
899
899
68
822
822
54
677
677
40
705
705
97
638
638
83
888
888
95
556
556
81
557
557
56
803
803
42
557
557
43
559
559
57
642
642
80
936
936
94
799
799
3
659
659
99
607
607
72
803
803
66
714
714
67
556
556
73
563
563
98
611
611
2
711
711
59
714
714
65
889
889
71
816
816
70
605
605
64
900
900
58
560
560
1
607
607
5
655
655
60
649
649
74
702
702
48
557
557
49
647
647
75
946
946
61
905
905
4
920
920
6
582
582
88
695
695
77
609
609
63
595
595
62
908
908
76
565
565
89
562
562
7
559
559
39
575
575
11
575
575
10
556
556
38
745
745
12
879
879
13
691
691
17
559
559
16
582
582
14
586
586
28
838
838
29
556
556
15
566
566

       customer_id   viewdate  viewruntime
0                1 2018-06-20    53.000000
1                1 2018-06-25    57.000000
2                1 2018-06-25    50.000000
3                1 2018-06-29     0.000000
4                1 2018-07-06    29.000000
...            ...        ...          ...
78399           12 2021-01-31    57.791821
78400           95 2021-01-31    38.624352
78401           40 2021-01-31    59.434341
78402           28 2021-01-31    81.901283
78403           15 2021-01-31    73.279678

[78404 rows x 3 columns]

### Writing forecasted data to Snowflake

In [24]:
forecasted_churn['viewdate'] = forecasted_churn['viewdate'].dt.date
conn_churn.createDataFrame(forecasted_churn).write.mode('overwrite').save_as_table('forecasted_viewtime_100_customers') #same as Forecasted_churn_for_100_cx_ids

#### Visualizing the view run time trend for a customer

In [ ]:
# # Filter the DataFrame for a specific customer ID (e.g., customer_id=1)
# customer_id_to_plot = 1
# df_customer = forecasted_churn[forecasted_churn['customer_id'] == customer_id_to_plot]

# # Convert 'viewdate' column to datetime format
# df_customer['viewdate'] = pd.to_datetime(df_customer['viewdate'])

# # Sort DataFrame by 'viewdate' for better visualization
# df_customer = df_customer.sort_values(by='viewdate')

# plt.figure(figsize=(20, 6))
# # Plotting the line graph
# plt.plot(df_customer['viewdate'], df_customer['viewruntime'], marker='o')
# plt.title(f'View Runtime for Customer ID {customer_id_to_plot}')
# plt.xlabel('View Date')
# plt.ylabel('View Runtime')
# plt.show()

In [ ]:
# # Filter the DataFrame for a specific customer ID (e.g., customer_id=1)
# customer_id_to_plot = 100
# df_customer = forecasted_churn[forecasted_churn['customer_id'] == customer_id_to_plot]

# # Convert 'viewdate' column to datetime format
# df_customer['viewdate'] = pd.to_datetime(df_customer['viewdate'])

# # Sort DataFrame by 'viewdate' for better visualization
# df_customer = df_customer.sort_values(by='viewdate')

# plt.figure(figsize=(20, 6))
# # Plotting the line graph
# plt.plot(df_customer['viewdate'], df_customer['viewruntime'], marker='o')
# plt.title(f'View Runtime for Customer ID {customer_id_to_plot}')
# plt.xlabel('View Date')
# plt.ylabel('View Runtime')
# plt.show()